html {
  background-color: #e4e9fd;
  background-image: url(/images/bg_img5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 700px;
  background-size: cover;
  font-family: "Roboto", "Arial";
}

h1 {
  color: white;
  padding: 10px;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.box2 {
  display: grid;
  grid-template-columns: 1fr, 1fr, 100px;
  width: 700px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type="date"] {
  padding: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #495057;
  margin-right: 30px;
}

input[type="date"]:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.buttonDiv {
  padding-left: 10px;
}

.add-button {
  padding-top: 6px;
  transition: opacity 0.15s;
}

.add-button:hover {
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.add-button:active {
  opacity: 0.5;
}

.delete-button {
  background-color: none;
}

.delete-button:hover {
  cursor: pointer;
}

#heading {
  background-color: #10abb9;
  text-align: center;
}

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
}

.bottom {
  display: grid;
  grid-template-columns: auto 100px;
}

.date {
  font-size: 400;
  color: #060607;
}

#delete {
  text-align: center;
  padding-top: 10px;
  padding-left: 15px;
}

form.item {
  text-align: center;
  margin-left: 20px;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #10abb9;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

.delete-button {
  background-color: transparent;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
  margin-right: 20px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #10abb9;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgba(255, 255, 255);
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  display: inline-block;
  border-bottom: 1px solid #f1f1f1;
  color: aliceblue;
  background-color: #a0bce2;
}

.main {
  /* background-color: lightpink; */
  text-align: left;
}

.sub {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.679);
  border-radius: 10px;
  gap: 20px;
  width: 350px;
  box-shadow: 5px 5px 5px #4e4d4d;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.text {
  font-weight: bold;
}

select {
  display: block;
  padding: 5px;
  border: 1px solid #10abb9;
  color: #555;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

select ::after {
  border: #80bdff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

select:focus {
  outline: none;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  border-color: #555;
}

label {
  background-color: #10abb9;
  color: #f1f1f1;
  line-height: 2rem;
}

#categoryDiv {
  text-align: center;
  color: #f1f1f1;
  background-color: #10abb9;
  line-height: 1rem;
  margin: 0;
  margin-left: -10px;
  margin-right: 10px;
}
